{{#partial "content"}}

    {{#if updateHero}}
        <h1>Edit this Hero!</h1>
        <form action="/heroes/{{editHero.id}}/update" method="post">
            <br>
            <label for="name">Edit this hero's name</label>
            <input id="name" name="name" type="text" value="{{editHero.name}}">
            <br>
            <label for="squadId">Update this hero's squad</label>
            <select name="squadId" id="squadId">
                {{#each squads}}
                        <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <p>Don't see the right squad? <a href="/squads/new">Add a new one first.</a> </p>
             <button type="submit" class="btn btn-default">Update!</button>
        </form>
    {{else}}
        <p>Add a new Hero:</p>

        <form action="/heroes/new" method="POST">
            {{#if squads}}
                <label for="hero">Hero Name</label>
                <input id="hero" name="hero" type="text">
                    <label for="squadId">Assign this hero to the following squad:</label>
                    <select name="squadId" id="squadId">
                        {{#each squads}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                <p>Don't see the right squad? <a href="/squads/new">Add a new one first.</a></p>
            {{else}}
                <h3> Sorry, you'll need to add a squad before you add a hero.
                    <a href="/squads/new"> Add a new one here. </a>
                </h3>
            {{/if}}
            <button type="submit" class="btn btn-default"> Go! </button>
        </form>
    {{/if}}
{{/partial}}
{{> layout.hbs}}