{{#partial "content"}}

    {{#if editHero}}
        <!--Form without header-->
        <form action="/heroes/{{updateHero.id}}/update" method="POST">
            <div class="card" >
                {{#if squads}}
                <div class="card-block">
                    <!--Header-->
                    <div class="form-header blue-gradient">
                        <h3><i class="fa fa-user"></i> Edit this Hero:</h3>
                    </div>
                    <div class="md-form">
                        <i class="fa"></i>
                        <input type="text" id="name" name="name" value="{{updateHero.name}}" class="form-control">
                        <label for="name" >Hero's Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa"></i>
                        <input type="number" id="age" name="age" value="{{updateHero.age}}" class="form-control">
                        <label for="age">Hero's Age</label>
                    </div>

                    <div class="md-form">
                        <i class="fa"></i>
                        <input type="text" id="power" name="power" value="{{updateHero.power}}" class="form-control">
                        <label for="age">Hero's Power</label>
                    </div>

                    <div class="md-form">
                        <i class="fa"></i>
                        <input type="text" id="weakness" name="weakness" value="{{updateHero.weakness}}" class="form-control">
                        <label for="weakness">Hero's Weakness</label>
                    </div>

                    <div class="md-form">
                        <i class="fa"> </i>
                        <select class="mdb-select md-form md-outline colorful-select dropdown-primary" type="number" id="squadId" name="squadId">
                            <option value="{{squad.id}}">{{squad.name}}</option>
                            {{#each squads}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <p>Don't see the right squad? <a href="/squads/new">Add a new one first.</a></p>
                    </div>
                {{else}}
                    <h3> Sorry, you'll need to add a squad before you add a hero.
                        <a href="/squads/new"> Add a new one here. </a>
                    </h3>
                {{/if}}
            </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-deep-orange">Update!</button>
                </div>
            </div>
        </form>

    {{else}}
        <!--Form without header-->
        <form action="/heroes/new" method="POST">
            <div class="card" >
                {{#if squads}}
                    <div class="card-block">
                        <!--Header-->
                        <div class="form-header blue-gradient">
                            <h3><i class="fa fa-user"></i> Add Hero:</h3>
                        </div>
                        <!--Body-->
    <!--                    <br>-->
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa"></i>
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" >Hero's Name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa"></i>
                            <input type="number" id="age" name="age" class="form-control">
                            <label for="age">Hero's Age</label>
                        </div>

                        <div class="md-form">
                            <i class="fa"></i>
                            <input type="text" id="power" name="power" class="form-control">
                            <label for="age">Hero's Power</label>
                        </div>

                        <div class="md-form">
                            <i class="fa"></i>
                            <input type="text" id="weakness" name="weakness" class="form-control">
                            <label for="weakness">Hero's Weakness</label>
                        </div>

                        <div class="md-form">
                            <i class="fa"> </i>
                            <select class="mdb-select md-form md-outline colorful-select dropdown-primary" type="number" id="squadId" name="squadId">
                                <option value="" disabled selected>Choose your squad</option>
                                {{#each squads}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <p>Don't see the right squad? <a href="/squads/new">Add a new one first.</a></p>
                        </div>
                {{else}}
                    <h3> Sorry, you'll need to add a squad before you add a hero.
                        <a href="/squads/new"> Add a new one here. </a>
                    </h3>
                {{/if}}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-deep-orange">Add</button>
                    </div>
            </div>
        </form>
    {{/if}}
{{/partial}}
{{> layout.hbs}}