{{#partial "content"}}

    <h5>ID: {{ hero.id }} </h5>
    <h5>Name: {{ hero.name }}</h5>
    <h5>Squad Ensemble: {{squad.name}} </h5>

    <a href="/heroes/{{hero.id}}/update">Edit this post</a>
    <br>
    <a href="/heroes/{{hero.id}}/delete">DELETE this hero's record. (no undo)</a>

{{/partial}}

{{> layout.hbs}}